In [5]:
import pandas as pd

data = {'Name': ["John", "Anna", "Peter", "Linda"],
'Location' : ["New York", "Paris", "Berlin", "London"],
'Age' : [24, 13, 53, 33]
}

df = pd.DataFrame(data)
df

   Age  Location   Name
0   24  New York   John
1   13     Paris   Anna
2   53    Berlin  Peter
3   33    London  Linda

In [6]:
df[ df.Age > 30 ]

   Age Location   Name
2   53   Berlin  Peter
3   33   London  Linda